{{#block "header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{#block "title"}}Spark Blog{{/block}}</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
    {{#if flashMessage}}
        <p id="flash-message">{{flashMessage}}</p>
    {{/if}}
{{/block}}

{{#block "content"}}

{{/block}}

{{#block "footer"}}

    </body>
    </html>
{{/block}}
