
{{#partial "title"}}Edit{{/partial}}

{{#partial "content"}}

        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="/">SparkBlog</a>
                    <a class="new-entry button button-round" href="/new"><i class="material-icons">create</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
                    <form method="post" action="/entries/{{entry.slug}}/edit">
                        <label for="title"></label>
                        <input type="text" name="title" id="title" value="{{entry.title}}"><br>
                        <label for="content"></label>
                        <textarea rows="5" name="content" id="entry" required>{{entry.content}}</textarea>
                        <label for="tags">
                            <input type="text" name="tags" placeholder="Separate tags with a comma"><br>
                        </label>
                        <input type="submit" value="Save Entry" class="button">
                        <a href="/" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>

{{/partial}}

{{#partial "footer"}}
    <footer>
        <div>
            <a href="#">Contact Us</a>&nbsp;
            <a href="#">Terms</a>
        </div>
    </footer>
{{/partial}}
<!--    </body>-->
<!--</html>-->

{{> base.hbs}}