
{{#partial "content"}}
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="/">SparkBlog</a>
                    <a class="new-entry button button-round" href="/new"><i class="material-icons">create</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="entry-list">

<!--                    <article>-->
<!--                        <h2><a href="detail.hbs">The best day I’ve ever had</a></h2>-->
<!--                        <time datetime="2024-10-01 1:00">October 1, 2024 at 1:00</time>-->
<!--                    </article>-->

<!--                    <article>-->
<!--                        <h2><a href="detail.hbs">The absolute worst day I’ve ever had</a></h2>-->
<!--                        <time datetime="2024-10-01 1:00">October 1, 2024 at 1:00</time>-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <h2><a href="detail.hbs">That time at the mall</a></h2>-->
<!--                        <time datetime="2024-10-01 1:00">October 1, 2024 at 1:00</time>-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <h2><a href="detail.hbs">Dude, where’s my car?</a></h2>-->
<!--                        <time datetime="2024-10-01 1:00">October 1, 2024 at 1:00</time>-->
<!--                    </article>-->

                    {{#each entries}}
                        <article>
                            <h2><a href="/entries/{{slug}}">{{title}}</a></h2>
                            <time datetime={{date}}>{{date}}</time>
                        </article>
                    {{/each}}
                </div>
            </div>
        </section>
{{/partial}}

{{#partial "footer"}}
        <footer>
            <div>
                <a href="#">Contact Us</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                <a href="#">Terms</a>
            </div>
        </footer>
{{/partial}}

{{> base.hbs}}